@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

html {
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 1.75rem;
    --lumo-font-size-xxl: 1.375rem;
    --lumo-font-size-xl: 1.125rem;
    --lumo-font-size-l: 1rem;
    --lumo-font-size-m: 0.875rem;
    --lumo-font-size-s: 0.8125rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-xxs: 0.6875rem;
    --lumo-space-xl: 1.875rem;
    --lumo-space-l: 1.25rem;
    --lumo-space-m: 0.625rem;
    --lumo-space-s: 0.3125rem;
    --lumo-space-xs: 0.1875rem;
}

[theme~="dark"] {
    --lumo-tint-5pct: rgba(255, 255, 255, 0.05);
    --lumo-tint-10pct: rgba(255, 255, 255, 0.1);
    --lumo-tint-20pct: rgba(255, 255, 255, 0.2);
    --lumo-tint-30pct: rgba(255, 255, 255, 0.3);
    --lumo-tint-40pct: rgba(255, 255, 255, 0.4);
    --lumo-tint-50pct: rgba(255, 255, 255, 0.5);
    --lumo-tint-60pct: rgba(255, 255, 255, 0.6);
    --lumo-tint-70pct: rgba(255, 255, 255, 0.7);
    --lumo-tint-80pct: rgba(255, 255, 255, 0.8);
    --lumo-tint-90pct: rgba(255, 255, 255, 0.9);
    --lumo-shade-5pct: rgba(22, 23, 24, 0.05);
    --lumo-shade-10pct: rgba(22, 23, 24, 0.1);
    --lumo-shade-20pct: rgba(22, 23, 24, 0.2);
    --lumo-shade-30pct: rgba(22, 23, 24, 0.3);
    --lumo-shade-40pct: rgba(22, 23, 24, 0.4);
    --lumo-shade-50pct: rgba(22, 23, 24, 0.5);
    --lumo-shade-60pct: rgba(22, 23, 24, 0.6);
    --lumo-shade-70pct: rgba(22, 23, 24, 0.7);
    --lumo-shade-80pct: rgba(22, 23, 24, 0.8);
    --lumo-shade-90pct: rgba(22, 23, 24, 0.9);
    --lumo-primary-text-color: #d0b782;
    --lumo-primary-color-50pct: rgba(208, 183, 130, 0.5);
    --lumo-primary-color-10pct: rgba(208, 183, 130, 0.1);
    --lumo-error-text-color: rgb(237, 127, 151);
    --lumo-error-color-50pct: rgba(237, 127, 151, 0.5);
    --lumo-error-color-10pct: rgba(237, 127, 151, 0.1);
    --lumo-success-text-color: rgb(84, 222, 110);
    --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
    --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
    --lumo-base-color: #292a2b;
    --lumo-tint: #fff;
    --lumo-shade: #161718;
    --lumo-primary-color: #d0b782;
    --lumo-primary-contrast-color: #292a2b;
    --lumo-error-color: #ED7F97;
    --lumo-error-contrast-color: #292a2b;
    --lumo-success-color: #54DE6E;
    --lumo-success-contrast-color: #292a2b;
    --lumo-header-text-color: #d0b782;
    --mage-color: #A6AEC9;
    --mage-shade-color: #465072;
    --rogue-color: #83C39F;
    --rogue-shade-color: #28533A;
    --acolyte-color: #84DCC6;
    --acolyte-shade-color: #165041;
    --sentinel-color: #DFD6A7;
    --sentinel-shade-color: #5A5020;
    --primalist-color: #CA8968;
    --primalist-shade-color: #4B2B1B;
}

body #outlet {
    height: auto;
}